<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workflow.demo.dao.UeditorMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.workflow.demo.entity.system.Ueditor">
		<id column="UEDITOR_ID" property="ueditorId" />
		<result column="USER_ID" property="userId" />
		<result column="USERNAME" property="username" />
		<result column="CONTENT" property="content" />
		<result column="CONTENT2" property="content2" />
		<result column="TYPE" property="type" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        UEDITOR_ID AS ueditorId, USER_ID AS userId, USERNAME AS username, CONTENT AS content, CONTENT2 AS content2, TYPE AS type
    </sql>

</mapper>
